*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.contender{
    display: grid;
    grid-template-columns: repeat(1, 12fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header "
                         "contendStar "
                         "contendNewApp "
                        "contendDrive "
                        "contendTar "
                         "footer "

}

.contender .header{
    display: flex;
    grid-area: header;
    height: 121px;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4.6%;

}

.contender .header .logo{
    display: flex;
    width: 123px;
    height: 31px;
    padding-left: 8%;

}
.contender .header .nab {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    color: #2b2b2b;
    align-items: center;
    width: 443px;
    height: 46px;
    justify-content: space-around;
}

.link {
    color: #2b2b2b;

}

.travel{
    font-size: 22px;
    font-weight: bold;
}



.contendStar{
    background-image: url(img/taxi.jpg);
    height: 100%;
    width: 100%;
    background-position-y: 92%;
    background-position-x: -17px;
    background-repeat: no-repeat;
    background-size: 101.5% 287%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.contenedors{
    height: 706px;
    width: 1366px;
    display: flex;
    grid-area: contendStar;
}

.contendStar .main{
    background: #f7b617;
    color: white;
    height: 414px;
    width: 513px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
}

.contendStar .buttonStar{
    display: flex;
    width: 140px;
    height: 44px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: white ;
    border: solid white;
    border-radius: 5px;
    justify-content: center;
}

.contendStar .buttonDriver{
    display: flex;
    width: 274px;
    height: 42px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: white ;
    border: solid white;
    border-radius: 5px;
    justify-content: center;
}

.contendStar .main .title{
    font-size: 36px;
    display: flex;
}
.line{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
}

h2 {
    width:130px;  border-bottom: 1px solid white;
}


.contendStar .main .titleOption{
    display: flex;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    justify-content: center;
}

.contendDrive{
    background-image: url(img/conduce.jpg);
    color: white;
    grid-area: contendDrive;
    height: 446px;
    background-position-y: 56%;
    background-position-x: -21px;
    background-repeat: no-repeat;
    background-size: 102% 195%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}


.contendDrive .buttonDrive{
    display: flex;
    background: #f7b617;
    color: white;
    width: 250px;
    height: 43px;
    font-weight: bold;
    font-size: 18px;
    border: solid #f7b617;
    border-radius: 5px;
    justify-content: center;
}

.element {

    list-style-type: none;
    margin-left: 8.5%;
    padding-top: 16%;
}

.contendDrive .driveText{
    display: flex;
    width: 455px;
    height: 446px;
    background: rgba(0, 0, 0, .5);
    justify-content:  flex-start;
    align-items: flex-start;


}

.contendDrive .driveText .conduce{
    font-size: 28px;
}

.contendDrive .driveText .titleDriver2{
    font-size: 20px;
}

.contendNewApp{
    background: #f7b617;
    height: 535px;
    color: white;
    grid-area:contendNewApp ;
    display: flex;
    align-items: center;
}

.contendNewApp .newAp{
    width: 544px;
    font-size: 23px;
    /*padding-right: 12.5%;*/

}

.contendNewApp .cellphone{
    height:368px;
    display:flex;
}


.contendNewApp .mainNewApp{
    display:flex ;
    border: white solid 1px;
    width: 1120px;
    height: 450px;
    align-items: center;
    justify-content:space-around;


}

.contendTar{
    background: #f7b617;
    color: white;
    height: 571px;
    grid-area:contendTar ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;

}

.contendTar .tracerRut{
    display: flex;
    width: 171px;
    height: 39px;
    justify-content: center;
    background: white;
    color: black;
    border: solid #f7b617;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 28%;
    align-items: center;
}

.contendTar .Tariffs{
    display: flex;
    justify-items: center;

}

.lin{
    display: flex;
}

.tarif2{
    font-size: 20px;
}
.tarif{
    font-size: 30px;
}
.contendTar .direction{
    display: flex;
    width: 311px;
    height: 40px;
    background: #f7b617;
    color: white;
    font-size: 13px;
    border: solid white 1px;
    border-radius: 8px;
    margin-left: 4%;
}
.contendTar .tariffs ::placeholder{
    color: white;
    padding-left: 2%;
    font-size: 14px;
}
.contendTar .map{
    display: flex;
    border: white solid 1px;
    padding: 0.8%;
    width: 35%;
    height: 74%;

}

.footer{
    background: #2B2B2B ;
    color: white;
    grid-area: footer;
    display: flex;
    height: 625px;
    align-items: center;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

}

.list .lis{
    padding-top: 25%;
}





.contendFooter{
    display: flex;
    align-items: center;
    grid-area: footer;
    width: 100%;
    padding-right: 4%;
    padding-left: 8%;
}




/*MODALES*/

.visible{
    display: block;
    position: fixed;
}

.invisible {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #08AC9D;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius:5px;
    width: 598px;
    height: 479px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-login{
    background-color:#F5F5F5;
    border-radius: 5px;
    height: 236px;
    width:270px;
    margin-left: 28%;

}

.iconLog{

}

.buttonLog{
    height: 35px;
    width: 85px;
    background-color: #F0AD4E ;
    color: white;
    border-radius: 5px;
    border: #EEA236 solid 1px;

}

.ForgotPass {
    font-size: 14px;
}

.link2{
    color: #a52a2a;
}

#id-username ::placeholder{
    color: #888888;
}

.input-login{
    width: 192px;
    height: 32px;
    border: #888888 solid 1px;
    border-radius: 5px;
}

.iconLog{
    width: 42px;
    height: 32px;
}


/*SECOND MODAL*/
/* Modal Content */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.modal2-content {
    background-color: #A9A9A9;
    margin: auto;
    padding: 20px;
    border: 1px solid #A9A9A9;
    border-radius:5px;
    width: 449px;
    height: 522px;
}

/* The Close Button */
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal2-login{
    background-color:#F5F5F5;
    border-radius: 5px;
    height: 236px;
    width:270px;
    margin-left: 28%;

}

.input-Register{
    width: 398px;
    height: 34px;
    border-radius: 5px;
    border: #888888 solid 1px;
    margin: 1%;

}

.input-Register1{
    width: 194px;
    height: 34px;
    border-radius: 5px;
    border: #888888 solid 1px;
    margin: 1%;

}

.input-Register2{
    width: 398px;
    height: 46px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: black;
    color: white;
    margin-top: 6%;
    margin-bottom: 3%;
    font-size: 18px;

}

.input-Register3 {
    width: 398px;
    height: 46px;
    border-radius: 5px;
    border: #DDDDDD solid 1px;
    margin: 1%;
    background-color: #DDDDDD;
    color: #333333;
    font-size: 18px;
}

.input-Register4 {
    width: 398px;
    height: 46px;
    border-radius: 5px;
    border: #5BC0DE solid 1px;
    margin: 1%;
    background-color: #5BC0DE;
    color: white;
    font-size: 18px;
}

.modal2-content ::placeholder{
    padding-left: 2%;
    font-size: 14px;
}

/*3RD MODAL*/
/* Modal Content */
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.modal3-content {
    background-color: #A9A9A9;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    width: 381px;
    height: 516px;
    text-align: left;
}

/* The Close Button */
.close3 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal3-login{
    background-color:#F5F5F5;
    border-radius: 5px;
    height: 236px;
    width:270px;
    margin-left: 28%;

}

.modal3-content ::placeholder{
    padding-left: 2%;
    font-size: 14px;
}

.selectModal3{
    width: 380px;
    height: 31px;
    border-radius: 5px;
    border: #A9A9A9 solid 1px;
}

.textModal3{
    color:#333333 ;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 380px;


}

.textModal4{
    color: #333333;
    font-size: 11px;
    padding-top: 1%;
}

.textModal5{
    color: #333333;
    font-size: 13px;
    padding-top: 1%;
    padding-bottom: 3%;

}

.input-4 {
    width: 379px;
    height: 46px;
    border-radius: 5px;
    border: #5BC0DE solid 1px;
    margin: 1%;
    background-color: #5BC0DE;
    color: white;
    font-size: 18px;
}
/*FIRST MOBILE*/

.contendStarMobile{
    width: 80.73%;
    height: 44.73%;
    background: #f7b617;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
}

.buttonDownload{

display: flex;
width: 31.37%;
height: 44px;
color: black;
font-weight: bold;
font-size: 18px;
background-color: white ;
border: solid white;
border-radius: 5px;
justify-content: center;
}
@media screen and (max-width: 768px) {

    #navBar {
        display: none;
    }

    #HomeDesktop {
        display: none !important;
    }

    #homeFirstMobile {
        display: block !important;
    }

    #newApText{
        display: none !important;
    }
    .contendNewApp .cellphone {

        height: 343px;
        display: flex;
        width: 328px;

    }

    .contendNewApp .mainNewApp {

        display: flex;
        border: white solid 1px;
        width: 92.98%;
        height: 91.4%;
        align-items: center;
        justify-content: space-around;
    }
    .contendNewApp {

        background: #f7b617;
        height: 535px;
        color: white;
        grid-area: contendNewApp;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}

@media screen and (max-width: 397px) {
    .contendStar {
        background-image: url(img/taxi.jpg);
        height: 542px;
        width: 545px;
        background-position-y: 92%;
        background-position-x: -51px;
        background-repeat: no-repeat;
        background-size: 83.5% 155%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .contendStarMobile {

        width: 90.73%;
        height: 30.73%;
        background: #f7b617;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 2%;

    }

    .contendStar {

        background-image: url(img/taxi.jpg);
        height: 504px;
        background-position-y: 92%;
        background-position-x: -17px;
        background-repeat: no-repeat;
        background-size: 35.5% 138%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }
    .contender .header {

        display: flex;
        grid-area: header;
        height: 81px;
        align-items: center;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 4.6%;

    }
    .buttonDownload {

        display: flex;
        width: 12.37%;
        height: 44px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        background-color: white;
        border: solid white;
        border-radius: 5px;
        justify-content: center;
        align-items: center;

    }
    .contenedors {

        height: 539px;
        width: 1366px;
        display: flex;
        grid-area: contendStar;

    }

}

@media screen and (max-width: 800px) {
    .contendStar {
        background-image: url(img/taxi.jpg);
        height: 540px;
        width: 100%;
        background-position-y: 92%;
        background-position-x: -51px;
        background-repeat: no-repeat;
        background-size: 65.5% 155%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 768px) {
    .contendStar {
        background-image: url(img/taxi.jpg);
        height: 100%;
        width: 100%;
        background-position-y: 92%;
        background-position-x: -17px;
        background-repeat: no-repeat;
        background-size: 57.5% 155%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 414px) {
    .contendStar {
        background-image: url(img/taxi.jpg);
        height: 100%;
        width: 100%;
        background-position-y: 92%;
        background-position-x: -17px;
        background-repeat: no-repeat;
        background-size: 35.5% 138%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 534px) {


    .contendDrive {

        background-image: url(img/conduce.jpg);
        color: white;
        grid-area: contendDrive;
        height: 449px;
        background-position-y: 56%;
        background-position-x: -21px;
        background-repeat: no-repeat;
        background-size: 102% 195%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 545px;

    }



    .contendDrive .driveText {

        display: flex;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        justify-content: flex-start;
        font-size: 28px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 718px) {
    #footerMobile{
        display: block !important;

    }


    #footerDesktop {
        display: none !important;
    }


}

@media screen and (min-width: 719px) {
    #footerMobile{
        display: none !important;
    }

}